<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/ME3LJCenter/"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/me3ljcenter"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/company/melj-justice-center/about/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/channel/UCV44ch54zzfGUo5ElkSuF8A"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/me3ljcenter/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-main">
    <div class="sponsors container flex-wrap">
      <h1>OUR SPONSORS:</h1>
      <a href="https://www.shccaustin.org/"><%= image_tag "shepherd-of-the-hills.png", class: "sponsor-img"%></a>
      <a href="https://www.samsclub.com/"><%= image_tag "sams-club.jpg", class: "sponsor-img"%></a>
      <a href="https://txbf.org/"><%= image_tag "texas_bar_foundation.jpg", class: "sponsor-img"%></a>
      <a href="https://www.co.bastrop.tx.us/"><%= image_tag "the-state-of-texas.jpg", class: "sponsor-img"%></a>
      <a href="https://www.walmart.com/"><%= image_tag "walmart.jpg", class: "sponsor-img"%></a>
    </div>
    <div class="contact container">
      <h1>CONTACT</h1>
      <p>403 E. 15th Street, Austin, TX 78701</p>
      <p>Phone: 512-473-2525</p>
    </div>
  </div>
  <div class="footer-copyright">
    <p>Made by Iwona Wilk</p>
  </div>
</div>
