<div class="footer">

  <div class="container link footer-links">
    <a href="https://www.facebook.com/ME3LJCenter/"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/me3ljcenter"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/company/melj-justice-center/about/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/channel/UCV44ch54zzfGUo5ElkSuF8A"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/me3ljcenter/"><i class="fab fa-instagram"></i></a>
  </div>

  <div class="container">
    <div class="row footer-main">
      <div class="col-lg-6 col-md-12 col-sm-12 contact">
        <h3>CONTACT</h3>
        <p class="link"><a href="https://goo.gl/maps/4h1yJFZicqs8e5uX6"><i class="fas fa-map-marker-alt"></i> 403 E. 15th Street, Austin, TX 78701</a></p>
        <p class="link"><a href="tel:+1-512-473-2525"><i class="fas fa-phone-volume"></i> +1 (512)-473-2525</a></p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h3>SPONSORS:</h3>
        <a href="https://www.samsclub.com/"><%= image_tag "sams-club.jpg", class: "sponsor-img"%></a>
        <a href="https://txbf.org/"><%= image_tag "texas_bar_foundation.jpg", class: "sponsor-img"%></a>
        <a href="https://www.co.bastrop.tx.us/"><%= image_tag "the-state-of-texas.jpg", class: "sponsor-img"%></a>
        <a href="https://www.walmart.com/"><%= image_tag "walmart.jpg", class: "sponsor-img"%></a>
        <a href="https://stdavidsfoundation.org/"><%= image_tag "stdavids.jpg", class: "sponsor-img-rectangular"%></a>
        <a href="https://hogg.utexas.edu/"><%= image_tag "hogglogo.jpg", class: "sponsor-img-rectangular"%></a>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <p> © 2020 Iwona Wilk</p>
  </div>

</div>
