<div class="navbar navbar-expand-lg navbar-light navbar-melj sticky-top">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1>melj</h1>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="dropdown show">
              <a class="btn dropdown-toggle nav-link" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT</a>
              <div class="dropdown-menu" >
                <%= link_to "About us", about_path, class: "dropdown-item" %>
                <a class="dropdown-item" href="about#aboutemployees">Faces of MELJ</a>
                <a class="dropdown-item" href="about#aboutlatreese">Latreese Cooke</a>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="dropdown show">
              <a class="btn dropdown-toggle nav-link" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROGRAMS</a>
              <div class="dropdown-menu" >
                <%= link_to "All programs", programs_path, class: "dropdown-item" %>
                <a class="dropdown-item" href="programs#hope">Hope</a>
                <a class="dropdown-item" href="programs#forreal">Forreal</a>
                <a class="dropdown-item" href="programs#employment">Employment</a>
                <a class="dropdown-item" href="programs#counseling">Counseling</a>
                <a class="dropdown-item" href="programs#education">Education</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "NEWS", news_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "EVENTS", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "VIDEOS", videos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "CONTACT", contact_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "FINANCIAL HELP", assistance_index_path, class: "nav-link" %>
          </li>
        </ul>
    </div>
</div>
