<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner-melj.jpg" %>')">
  <div class="container-fluid banner-title">
    <h1><strong>ABOUT</strong><lighter> MELJ Center</lighter></h1>
  </div>
</div>

<div class="container about-main-box">
  <div class="row">
    <div class="col-sm-6 col-12 about-description">
      <h2>WE RESTORE LIVES!</h2>
      <h4>The mission of MELJ Center (formally MEEELJ, Inc.) is to provide a true opportunity for at-risk youth and formerly incarcerated persons, regardless of previous educational and/or criminal background; while helping them to redirect, restore and reconnect as responsible and employable members of society, and also building sustainable support systems by aiding the families affected by the criminal justice system.</h4>
    </div>
    <div class="col-sm-6 col-12">
      <iframe src="https://www.youtube.com/embed/SpciTiYh3dU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="employees">
  <div class="container">
    <h2>Faces of MELJ</h2>
    <div class="employee-box flex-wrap">
      <div class="employee">
        <%= image_tag "latreese_cooke.jpg", class: "img-circular" %>
        <p>BOARD CHAIR</p>
        <p>Latreese Cooke</p>
      </div>
      <div class="employee">
        <%= image_tag "walker.jpg", class: "img-circular" %>
        <p>ACTING BOARD PRESIDENT</p>
        <p>Dr. Juliet E K Walker</p>
      </div>
      <div class="employee">
        <%= image_tag "latreese_cooke.jpg", class: "img-circular" %>
        <p>MEMBER</p>
        <p>William Eldridge</p>
      </div>
      <div class="employee">
        <%= image_tag "latreese_cooke.jpg", class: "img-circular" %>
        <p>MEMBER</p>
        <p>Maurice May</p>
      </div>
      <div class="employee">
        <%= image_tag "latreese_cooke.jpg", class: "img-circular" %>
        <p>MEMBER</p>
        <p>Briselda Betancourt</p>
      </div>
    </div>
  </div>
</div>

<div class="container board-chair">

  <h2>LATREESE COOKE</h2>

  <div class="row board-chair-description">
    <div class="col-sm-4 col-12">
      <%= image_tag "latreese_cooke.jpg", class: "img-circular" %>
    </div>
    <div class="col-sm-8 col-12 board-chair-text">
      <h4>
        Latreese Cooke the founder and Executive Director for MEEELJ, Incorporated, (now renamed as MELJ Justice Center) focus on persons who have previously been incarcerated and their families. MELJ has been in existence for over 10 years and moved into the Austin area in 2010. She has received numerous awards and recognition throughout the state for her work and has shown a relentless commitment to effect change for these families. Latreese Cook, the MELJ Board of Directors and staff are dedicated to the advocacy for these “forgotten” persons and the partnerships of the MELJ programs. Iron Sharpens Iron has proven to be both informative to the lay person of the criminal justice system and a blessing for this population who are affected socially and personally because of their unfortunate experiences within the criminal justice system.
      </h4>
    </div>
  </div>

</div>

