<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_main.jpg"%>')">
  <div class="container">
    <h1>MELJ Center</h1>
    <h3>Effecting Change & Opportunity for All</h3>
  </div>
</div>

<div class="container landing-welcome">
      <h1>MELJ CENTER MAKES THE FORMERLY INCARCERATED REINTEGRATION POSITIVE - SUPPORTIVE - ELIMINATING NEGATIVE BARRIERS FOR SUCCESS!</h1>
</div>

<%= render 'homeabout' %>
<%= render 'homedonate' %>
<%= render 'homekazi' %>

<div class="container landing-subscribe">
  <h2>FOR MORE INFORMATION SUBSCRIBE OUR NEWSLATTER</h2>
  <%= link_to "SUBSCRIBE", "https://meeelj.us13.list-manage.com/subscribe?u=fe3da1b5141476acf8282dd7d&id=0838174159", class: "btn btn-success"%>
</div>
