<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_main.jpg"%>')">
  <div class="container">
    <h1>MELJ Center</h1>
    <h3>Effecting Change & Opportunity for All</h3>
  </div>
</div>

<div class="container landing-welcome">
    <h2>MELJ CENTER MAKES THE FORMERLY INCARCERATED REINTEGRATION POSITIVE - SUPPORTIVE - ELIMINATING NEGATIVE BARRIERS FOR SUCCESS!</h2>
</div>

<%= render 'homeabout' %>
<%= render 'homedonate' %>
<%= render 'homekazi' %>


<div class="row">
  <div class="col-sm-6 col-12 container landing-subscribe">
    <h2>FOR MORE INFORMATION SUBSCRIBE OUR NEWSLETTER</h2>
    <div class="container btn-center">
      <%= link_to "SUBSCRIBE", "https://meeelj.us13.list-manage.com/subscribe?u=fe3da1b5141476acf8282dd7d&id=0838174159", class: "btn btn-success w-50"%>
    </div>
  </div>

  <div class="col-sm-6 col-12 container landing-subscribe">
    <h2>COMPLETE THE FORM FOR FINANCIAL ASSISTANCE</h2>
    <div class="container btn-center">
      <%= link_to "FORM", contact_index_path, class: "btn btn-success w-50"%>
    </div>
  </div>
</div>
