<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "melj_3.jpg" %>')">
  <div class="container banner-title">
    <h1><strong>PROGRAMS</strong> WE OFFER</h1>
  </div>
</div>

<div class="container">

  <div class="programs-title">
    <h3>MELJ Center has developed a range of programs specifically designed to meet the needs of at-risk youth and Formerly Incarcerated Persons (FIPs) in their communities. Through opportunities for education, counseling, and social support, we provide tools that help our clients on their journey to redirect, restore, and reconnect as responsible and employable members of society.</h3>
  </div>

  <div class="programs-description" id="hope">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_hope.jpg" %>')">
      <div class="container">
        <h2>HOPE</h2>
        <h3>Helping Other People Excel</h3>
      </div>
    </div>

    <div class="programs-description-points">
      <h4>Designed to support at-risk youth aged 13-21, HOPE offers benefits to any young person who wishes to participate. HOPE meets in two separate groups, one for males and one for females. Participants in HOPE receive:</h4>
      <h4>
        <li>Preparation and knowledge for entering the work world.</li>
        <li>Political participation and development of awareness of community needs.</li>
        <li>Practice in daily social and etiquette skills.</li>
        <li>Access to a licensed counselor available for weekly discussions or assistance.</li>
        <li>Encouragement to complete their education, stay drug-free and practice abstinence.</li>
        <li>Opportunities to explore their cultural heritage through activities such as dance, singing, and modeling cultural practices.</li>
      </h4>
    </div>

  </div>

  <div class="programs-description" id="forreal">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_forreal.jpg" %>')">
      <div class="container">
        <h2>FOR REAL</h2>
        <h3>Forever Omitting Recidivism, Restructuring, Educating & Activating Life</h3>
      </div>
    </div>

    <div class="programs-description-points">
      <h4>This program is designed to assist Formerly Incarcerated Persons (FIPs) with every aspect of re-establishing their lives. Participants in FOR REAL receive:</h4>
      <h4>
        <li>Counseling services.</li>
        <li>Housing referrals and assistance in securing stable housing.</li>
        <li>Referral to programs that can aid FIPs in becoming mentors.</li>
        <li>Assistance in securing restoration of civil rights if eligible.</li>
        <li>Assignment of or assistance in locating legal counsel for participants to confer with regarding issues stemming from probation/parole.</li>
        <li>Assistance in re-connecting participants and their family members.</li>
        <li>Educational programs for furthering their education and work-readiness.</li>
        <li>Opportunities to participate in organized athletic leagues.</li>
      </h4>
    </div>
  </div>

  <div class="programs-description" id="employment">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_employment.jpg" %>')">
      <div class="container">
        <h2>EMPLOYMENT FOR ME</h2>
      </div>
    </div>

    <div class="programs-description-points">
      <h4>Designed for youth ages 17 and up and Formerly Incarcerated Persons, this program offers training and guidance to participants who have never been employed as well as those who have been displaced and require assistance in becoming re-employed. Participants in Employment for Me receive:</h4>
      <h4>
        <li>Counseling services.</li>
        <li>Housing referrals and assistance in securing stable housing.</li>
        <li>Referral to programs that can aid FIPs in becoming mentors.</li>
        <li>Assistance in securing restoration of civil rights if eligible.</li>
        <li>Assignment of or assistance in locating legal counsel for participants to confer with regarding issues stemming from probation/parole.</li>
        <li>Assistance in re-connecting participants and their family members.</li>
        <li>Educational programs for furthering their education and work-readiness.</li>
        <li>Opportunities to participate in organized athletic leagues.</li>
      </h4>
    </div>
  </div>

  <div class="programs-description" id="counseling">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_counseling.jpg" %>')">
      <div class="container">
        <h2>COUNSELING</h2>
      </div>
    </div>

    <div class="programs-description-points">
      <h4>MELJ Center offers a number of counseling programs for at-risk youth and Formerly Incarcerated Persons. Our programs address the broad range of challenges and choices participants encounter as they re-establish their lives. MELJ Center counseling programs include:</h4>
      <h4>
        <li>Court-ordered chemical dependency counseling for probationers and parolees.</li>
        <li>Supportive group counseling. This 12-week program includes an assessment/intake interview, a weekly supportive group counseling session, and individual appointments scheduled as needed.</li>
        <li>Anger management groups.</li>
      </h4>
    </div>
  </div>

  <div class="programs-description" id="education">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_education.jpg" %>')">
      <div class="container">
        <h2>EDUCATION</h2>
      </div>
    </div>

    <div class="programs-description-points">
      <h4>MELJ Center provides education programs that fulfill our mission of providing effective opportunities for at-risk youth and Formerly Incarcerated Persons as they work to reestablish their lives. Our programs assist our clients in building on existing skills as well as acquiring new skills which will help them achieve success. MELJ Center education programs include:</h4>
      <h4>
        <li>Life skills classes. This 8 hour program meets on Monday, Tuesday, and Wednesday.</li>
        <li>Adult basic education.</li>
        <li>GED proficiency preparation.</li>
      </h4>
    </div>
  </div>

</div>







