<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_programs.jpg" %>')">
  <div class="container">
    <h1><strong>PROGRAMS</strong> WE OFFER</h1>
  </div>
</div>

<div class="container">

  <div class="programs-title">
    <h3>MELJ Center has developed a range of programs specifically designed to meet the needs of at-risk youth and Formerly Incarcerated Persons (FIPs) in their communities. Through opportunities for education, counseling, and social support, we provide tools that help our clients on their journey to redirect, restore, and reconnect as responsible and employable members of society.</h3>
  </div>
  <%= render 'programs/programshope' %>
  <%= render 'programs/programsforreal' %>
  <%= render 'programs/programsemployment' %>
  <%= render 'programs/programscounseling' %>
  <%= render 'programs/programseducation' %>

</div>



