<h2>CONTACT US TODAY:</h2>
<div class="contact-form">

  <%= form_for @contact, url: email_index_path, remote: true do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, class: "form-control mb-3" %>
        <%= f.label :email %>
        <%= f.text_field :email, required: true, class: "form-control mb-3" %>
        <%= f.label :message %>
        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: " form-control mb-3", placeholder: "Send me a message"%>
        <%= f.submit 'Send Message', class: 'btn btn-success'%>
      </div>
  <% end %>

  <div class="col-md-6" id="flash-message">
    <%= render 'flash' %>
  </div>

</div>
