<div class="form container MY-5">
  <%= simple_form_for(@video, url: admin_video_path(@video)) do |f| %>
    <%= f.input :title %>
    <%= f.input :url %>
    <div class="d-flex">
      <%= f.submit "Edit Video", class: "btn btn-success W-50" %>
      <%= link_to "Back", admin_videos_path, class: "btn btn-primary W-50" %>
    </div>
  <% end %>
</div>
